body {

    margin: 0px;
    margin-top: 15px;
    padding: 0px;

    background: rgb(239, 222, 222);
}


.navbar {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 171, 171);
   

}

.searchButton {
    position: absolute;
    background-color: rgb(239, 222, 222);
    border-radius: 50%;
    border: 0;
    padding: 5px;

    margin-top: 3.5px;
    margin-left: -35px;
}

.searchButton:hover {
    border-radius: 50%;
    background-color: rgb(242, 171, 171);
    cursor: pointer;

}


.searchBar {
    width: 300px;
    padding-left: 180px;

    border-radius: 16px;
    background-color: rgb(239, 222, 222);
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    outline: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Soft shadow */

}

.logo {

    color: rgb(255, 255, 255);

}


.button {

    cursor: pointer;
    background-color: rgb(255, 177, 177);
    border-radius: 16px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
}


.list {
    list-style: none;
    width: 40%;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 45px;


}

.item {
    width: 250px;
    /* Glassmorphism styles */
    background: rgba(255, 255, 255, 0.2);
    /* Semi-transparent white */
    backdrop-filter: blur(10px);
    /* Frosted glass blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari support */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Light border */
    border-radius: 10px;
    /* Optional: rounding corners */
    padding: 10px;
    /* Optional: to give some inner padding */
}


.quantity {
    width: 48px;
    cursor: pointer;
    background-color: rgb(255, 177, 177);
    border-radius: 16px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    outline: 0;
    padding-right: 0;
    margin-left: 5px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.right {
    display: flex;
    align-items: center;


}